/user_data/accounts/
/user_data/config/
/user_data/message/
/user_data/accounts/banned/
/user_data/accounts/invalid_account/
/user_data/accounts/sending_messages_chats/
/.idea/
/docs/.obsidian/
/TODO.md
/.mypy_cache/
/.gigaide/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
.env

# IDE
.vscode/
*.swp
*.swo

# Logs
*.log

# PyInstaller
*.pyz
*.exe
*.dll

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

local_settings.py

db.sqlite3

db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
_docs/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# celery
celerybeat-schedule

celerybeat.pid

# virtualenv
.venv

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject
/AGENTS.md
/user_data/log/
/user_data/config.ini
/user_data/software_database.db
/user_data/parsed_chat_participants.xlsx
/file.csv
/uv.lock
