flet==0.80.1
loguru==0.7.3
configparser==7.2.0
phonenumbers==9.0.20
requests==2.32.5
Telethon==1.42.0
thefuzz==0.22.1
scheduler==0.8.8
openpyxl==3.1.5
uvicorn==0.38.0
fastapi==0.124.4
PyYAML==6.0.3
jinja2==3.1.6
flet-desktop==0.80.1
flet-cli==0.80.1
peewee
python-csv