flet~=0.85.3
loguru~=0.7.3
configparser~=7.2.0
phonenumbers~=9.0.25
requests~=2.34.2
Telethon~=1.44.0
thefuzz~=0.22.1
scheduler~=0.8.8
openpyxl~=3.1.5
uvicorn~=0.51.0
fastapi~=0.139.0
PyYAML~=6.0.3
jinja2~=3.1.6
flet-desktop~=0.85.3
flet-cli~=0.85.3
peewee~=4.2.2
python-csv~=0.0.14
python-socks~=2.8.1
progress~=1.6.1