body {
    font-family: 'Source Code Pro', sans-serif;
    margin: 0;
    background-color: #f4f5f8; /* Подходящий фон под баннер */
    color: #e0e1dd; /* Цвет текста по всем страницам */
}

.container {
    display: flex;
    min-height: 100vh; /* чтобы контейнер тянулся до низа экрана */
}

.sidebar {
    width: 240px; /* или другая фиксированная ширина */
    padding: 15px;
    background-color: #f4f5f8; /* Цвет фона */
    font-size: 13px;
    overflow-y: auto; /* прокрутка, если меню длинное */
    flex-shrink: 0; /* ← запрещает сжиматься */
}

.sidebar a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: #777A7A;
    border-bottom: 1px solid #9ea1a1;
}

.sidebar a:hover {
    background-color: #b0b0b0;
}

.content {
    flex: 1; /* ← занимает всё оставшееся пространство */
    padding: 20px;
    background-color: #ffffff; /* Белый фон для документации */
    color: #000000; /* Черный цвет текста */
    position: relative;
    z-index: 30;
}

.content img,
.content iframe,
.content video {
    max-width: 100%;
    height: auto;
}

.banner {
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto 20px;
    border-radius: 8px;
}

h1, h2 {
    text-align: center;
    color: #00A6ED; /* Измените на желаемый цвет */
}

/* Список */

ol {
    list-style-type: none;
    counter-reset: num;
    position: relative;
    margin: 0 0 0 60px;
    padding: 15px 0 5px 0;
    font-size: 16px;
}
ol li {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 10px 0;
    line-height: 1.4;
}
ol li:after {
    content: counter(num);
    counter-increment: num;
    display: inline-block;
    position: absolute;
    top: 0;
    left: -45px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    background: #fff;
    color: #000;
    text-align: center;
    font-size: 18px;
    border-radius: 50%;
    border: 1px solid #ef6780;
}

/* Вертикальная линия */
ol:before {
    content: '';
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: -30px;
    width: 1px;
    border-left: 1px solid #ef6780;
}
/* Скрытие линии у последнего li */
ol li:last-child:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -38px;
    width: 28px;
    background: #fff;
}